<p>
  main works!
</p>

<a class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>

<a class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>

<a class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>

<a class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>

<a class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>

<a id="last" class="btn btn-primary" href="#" role="button">Link</a><br>
<button class="btn btn-primary" type="submit">Button</button><br>
<input class="btn btn-primary" type="button" value="Input"><br>
<input class="btn btn-primary" type="submit" value="Submit"><br>
<input class="btn btn-primary" type="reset" value="Reset"><br>